<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 值绑定就是通过服务器传来的数据绑定在input上 -->
      <label v-for="item in hobbies" :for="item">
        <input type="checkbox" :id="item" :value="item" v-model="ss" />{{item}}
      </label>
      <h2>{{ss}}</h2>
    </div>

    <script src="../vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "hah",
          hobbies: ["足球", "篮球", "羽毛球", "乒乓球"],
          ss: [],
        },
      });
    </script>
  </body>
</html>
